In [1]:
#importing important libraries pandas numpy,pandas,seaborn,time-because timestamps are there
#sklearn for the machine learning models
#matplotlib for the plots and all
#We are using the logistic regression classifier here
import pandas as pd
import numpy as np

import datetime 
import time

%matplotlib inline
import matplotlib.pyplot as plt 
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [2]:
#Importing data sets
#We are using four data sets here

In [3]:
events_df = pd.read_csv('data/events.csv')
category_tree_df = pd.read_csv('data/category_tree.csv')
item_properties_1_df = pd.read_csv('data/item_properties_part1.csv')
item_properties_2_df = pd.read_csv('data/item_properties_part2.csv')

In [4]:
#So we are working on the 4 datasets

In [18]:
#this is the first dataset we are using in which there are five features
#1)The timestamp portion is in Unix Epoch format e.g. 1433221332117
#2)Visitor Id is the unique user currently browsing the website
#3)Event is what the user is currently doing in that current timestamp
#4)Transaction ID will only have value if the user made a purchase as shown below

#viewing of the database;
print("the shape of the dataset is",events_df.shape)
events_df.head(100)

the shape of the dataset is (2756101, 5)

        timestamp  visitorid event  itemid  transactionid
0   1433221332117     257597  view  355908            NaN
1   1433224214164     992329  view  248676            NaN
2   1433221999827     111016  view  318965            NaN
3   1433221955914     483717  view  253185            NaN
4   1433221337106     951259  view  367447            NaN
..            ...        ...   ...     ...            ...
95  1433221135245     320957  view  102131            NaN
96  1433223900862     132736  view   67627            NaN
97  1433224352539     282587  view   78037            NaN
98  1433222949983     901571  view  458588            NaN
99  1433222949347     442035  view   75006            NaN

[100 rows x 5 columns]

In [6]:
#getting some more insights about the dataset
events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2756101 entries, 0 to 2756100
Data columns (total 5 columns):
timestamp        int64
visitorid        int64
event            object
itemid           int64
transactionid    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 105.1+ MB

In [7]:
#see two types of data types are there mainly object and the int.

In [8]:
#seeing the dataset2
item_properties_2_df.head()

       timestamp  itemid property            value
0  1433041200000  183478      561           769062
1  1439694000000  132256      976  n26.400 1135780
2  1435460400000  420307      921  1149317 1257525
3  1431831600000  403324      917          1204143
4  1435460400000  230701      521           769062

In [9]:
#seeing the memory of the dataset is also very necessary as to see how much memory your dataset is taking.
item_properties_2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9275903 entries, 0 to 9275902
Data columns (total 4 columns):
timestamp    int64
itemid       int64
property     object
value        object
dtypes: int64(2), object(2)
memory usage: 283.1+ MB

In [19]:
#seeing category of the event when transaction is not null
#see there are very less people who actually buy the product 
#means most of the people just see the product but donot actually purchase it.
events_df[events_df.transactionid.notnull()].event.unique

<bound method Series.unique of 130        transaction
304        transaction
418        transaction
814        transaction
843        transaction
              ...
2755294    transaction
2755349    transaction
2755508    transaction
2755603    transaction
2755607    transaction
Name: event, Length: 22457, dtype: object>

In [20]:
print(events_df[events_df.transactionid.notnull()].event.unique())

['transaction']

In [6]:
#seeing category of the event when transaction is null
#As you see there are two categories
#event happens when people just view or addtocart but donot actually buy.
events_df[events_df.transactionid.isnull()].event.unique()

array(['view', 'addtocart'], dtype=object)

In [21]:
#seeing the item_properties having the item_id ,values and other things 
item_properties_1_df.head()

       timestamp  itemid    property                            value
0  1435460400000  460429  categoryid                             1338
1  1441508400000  206783         888          1116713 960601 n277.200
2  1439089200000  395014         400  n552.000 639502 n720.000 424566
3  1431226800000   59481         790                       n15360.000
4  1431831600000  156781         917                           828513

In [22]:
#category_tree_df contains the item id and its parent id
category_tree_df.head()

   categoryid  parentid
0        1016     213.0
1         809     169.0
2         570       9.0
3        1691     885.0
4         536    1691.0

In [9]:
#Category IDs explain the relationship of different products with each other 
#e.g. Category ID 1016 is a child of Parent ID 213.
#Below shows the number of items under category id 1016
item_properties_1_df.loc[(item_properties_1_df.property == 'categoryid') & (item_properties_1_df.value == '1016')].sort_values('timestamp').head()

              timestamp  itemid    property value
6363096   1431226800000  339403  categoryid  1016
8597591   1431226800000  161686  categoryid  1016
7942027   1431226800000  418837  categoryid  1016
10230975  1431226800000   85538  categoryid  1016
7280176   1431226800000  278463  categoryid  1016

In [23]:
#Customer Behaviour Exploration
#we categorise the customers into two categories that is that is who purchased something or who purchased nothing.
#first we calculate who purchased things

customer_purchased=events_df[events_df.transactionid.notnull()].visitorid.unique()

print("The Number of Customers who Purchased Something",customer_purchased.size)

print(customer_purchased)#customer ids who purchased something and it is an array

The Number of Customers who Purchased Something 11719
[ 599528  121688  552148 ... 1155978 1050575  855941]

In [12]:
#In this we are checking total how many customers are there in total

#Assumption

#Since we have no information whether there were any repeat users who bought something from the site,

#I'll just have to assume for now that the 11,719 visitors are unique and made at least a single purchase

all_customers=events_df.visitorid.unique()

all_customers.size

1407580

In [13]:
#these are the customers who donot purchase anything just browsed things or either view or add to cart
customer_browsed=[x for x in all_customers if x not in customer_purchased]
len(customer_browsed)

1395861

In [87]:
#using Numpy Array
#Previous work can also be possible using the Numpy array 
temp_array=np.isin(customer_browsed,customer_purchased)
temp_array[temp_array == False].size
#temp_array

1395861

In [34]:
#It is the journey of the visitorid 102019 as it starts from viewing the product to buying the product

events_df[events_df.visitorid == 102019].sort_values('timestamp')

#See how it starts from viewing then add to  cart then again viewing and at the end the customer made the tranaction
#This behavioral analysis is also the current work for recommender system because it is also possible to see the general trends in customer behaviour;

           timestamp  visitorid        event  itemid  transactionid
19690  1433175714335     102019         view   49521            NaN
19501  1433175801314     102019    addtocart   49521            NaN
14842  1433175812596     102019         view  150318            NaN
19573  1433175871497     102019         view   49521            NaN
8701   1433175894837     102019         view   49521            NaN
19708  1433175945872     102019         view  150318            NaN
8740   1433176042269     102019         view   49521            NaN
814    1433176736375     102019  transaction  150318        13556.0
19724  1433176736422     102019  transaction   49521        13556.0

In [35]:
#the timestamp available here is in the unix epoch format
#we can change it in the human readable format

In [18]:
#Changing the unix time format to the datetime format
#within specifies format
tz = int('1433221332')
new_time = datetime.datetime.fromtimestamp(tz)
new_time.strftime('%Y-%m-%d %H:%M:%S')

'2015-06-02 10:32:12'

In [36]:
#It is just an example
tz = int('1438400163')
new_time = datetime.datetime.fromtimestamp(tz)
new_time.strftime('%Y-%m-%d %H:%M:%S')

'2015-08-01 09:06:03'

In [37]:
#What insights can we offer the visitor to guide them in their buying journey
#perhaps we can offer them a list of what previous visitors bought together with the item they are currently viewing
#It is nothing but the frequently bought together
customer_purchased = events_df[events_df.transactionid.notnull()].visitorid.unique()

purchased_items=[]

for customer in customer_purchased:
    purchased_items.append(list(events_df.loc[(events_df.visitorid == customer) & (events_df.transactionid.notnull())].itemid.values))

In [25]:
purchased_items

[[356475],
 [15335,
  380775,
  237753,
  317178,
  12836,
  400969,
  105792,
  25353,
  200793,
  80582,
  302422],
 [81345],
 [150318, 49521],
 [310791, 299044],
 [54058,
  284871,
  251130,
  268335,
  183049,
  261940,
  369093,
  370745,
  192990,
  277119,
  241716,
  283766,
  16417,
  217068,
  36372,
  68923,
  428015,
  69533,
  13520,
  385638,
  442871,
  136526,
  247862,
  93828,
  230911,
  382595,
  34853,
  216260,
  154812,
  445241,
  57702,
  347850,
  151855,
  226327,
  288525,
  51354,
  345994,
  170438,
  254301,
  266439,
  193718,
  388558,
  26745,
  184086,
  79956,
  252040,
  82232,
  309821,
  394518,
  462070,
  331980,
  353111,
  200527,
  235933,
  68532,
  358882,
  60012,
  29741,
  270487,
  163689,
  6913,
  156457,
  341578,
  163352,
  234493,
  135174,
  452481,
  241755,
  56323,
  210137,
  184397,
  285202,
  198690,
  195958,
  239210,
  71640,
  189108,
  369112,
  346186,
  211207,
  134330,
  257070,
  302239,
  459480,
  57577,
  195234,
  215904,
  374092,
  170262,
  170262,
  229577,
  264801,
  94344,
  204209,
  442725,
  9087,
  259964,
  361554,
  442131,
  23251,
  332721,
  85914,
  302391,
  200242,
  234255,
  372845,
  404129,
  214757,
  222208,
  372845,
  206809,
  249207],
 [150100,
  50934,
  36013,
  26210,
  118199,
  234199,
  416187,
  167985,
  146735,
  4887,
  218626,
  338148,
  197980,
  240558,
  272813,
  197968,
  332224,
  92668,
  268335,
  120259,
  378845,
  449946,
  95426,
  85579,
  17478,
  16813,
  150215,
  187200,
  111083,
  359040,
  428067,
  179136,
  422425,
  242521,
  21886,
  448494,
  175555,
  421606,
  86894,
  243376,
  138434,
  422481,
  235748,
  63859,
  55706],
 [243566],
 [245400],
 [336832],
 [202052, 336832, 259078, 111306, 44882],
 [7943],
 [185598, 57245],
 [338308],
 [318333, 318333],
 [68242],
 [185896],
 [277119, 251130, 261940],
 [63769, 135703, 150185, 100367, 351982, 351982],
 [103311],
 [428257],
 [256146, 410587, 140527, 124065, 120098, 246997],
 [167827, 387504, 390167],
 [201598],
 [367664],
 [10034],
 [159822],
 [380493],
 [89977],
 [383396,
  321712,
  9376,
  339917,
  119736,
  403566,
  345211,
  164035,
  116475,
  30024,
  268335,
  416012,
  15466,
  325310,
  117677,
  119736,
  331517,
  23912,
  307035,
  4001,
  444931,
  72944,
  241555,
  362606,
  134191,
  355994,
  317978,
  119736,
  136553,
  404936,
  408218,
  461686,
  24728,
  369158,
  74518,
  422964,
  439679,
  391662,
  332691,
  5848,
  94521,
  454640,
  411886,
  190806,
  325999,
  26634,
  390250,
  257040,
  76414,
  97158,
  148666,
  119736,
  137102,
  275339,
  456056,
  163440,
  113440,
  99667,
  318941,
  393691,
  92678,
  39440,
  204023,
  312781,
  118318,
  302307,
  311013,
  326094,
  268335,
  357432,
  151061,
  416697,
  144304,
  222604,
  122873,
  321257,
  26284,
  33139,
  119736,
  228941,
  253175,
  192491,
  366263,
  102614,
  281710,
  342904,
  190667,
  300133,
  404864,
  121835,
  207825,
  188233,
  379013,
  209688,
  115809,
  427541,
  415019,
  53636,
  273041,
  125660,
  80502,
  399592,
  365409,
  261589,
  340375,
  114137,
  8278,
  388974,
  407658,
  240900,
  226980,
  34763,
  88425,
  154532,
  109795],
 [55925, 55925],
 [308648],
 [181045],
 [430292],
 [138356],
 [183087,
  226820,
  303828,
  245994,
  23246,
  449489,
  132672,
  364449,
  19142,
  268081,
  651,
  331490,
  435265,
  151839,
  418560,
  432478,
  42002,
  46170,
  117677,
  29791,
  165267,
  331510,
  14758,
  14758,
  203728,
  171644,
  399053,
  412324,
  241274,
  404250,
  302307,
  215522,
  70929,
  310944,
  32267,
  250962,
  165337,
  159095,
  212743,
  126214,
  271930,
  385091,
  293737,
  396445,
  430292,
  259962,
  268061,
  397692,
  138434,
  451019,
  318333,
  399926,
  153336,
  225585,
  217382,
  221614,
  441751,
  418408,
  318333,
  27832,
  448601,
  294219,
  229037,
  213695,
  381982,
  190463,
  381982,
  52941,
  92466,
  343360,
  15776,
  305588,
  46232,
  77647,
  342777],
 [461765],
 [221963, 4887, 240004, 150183, 272455, 326447, 133247, 63975, 50577],
 [336393, 185179, 435090, 185179, 435090, 336393],
 [177773],
 [277201],
 [281211],
 [205566],
 [36873, 391728, 391728],
 [226728, 175555],
 [27812],
 [50329],
 [422948],
 [404936],
 [300559, 300559],
 [366859, 366859],
 [446524],
 [360258],
 [445821],
 [125862],
 [107195],
 [454964],
 [259078],
 [262799, 36035],
 [264774],
 [189444],
 [8426],
 [245168,
  150882,
  14932,
  144076,
  105334,
  268956,
  288525,
  289096,
  36995,
  326449,
  161911,
  362634,
  86844,
  318333,
  420960,
  23257,
  138427,
  289633,
  332224,
  119736,
  243566,
  220749,
  266085,
  342288,
  441415,
  43590,
  179601,
  309778,
  301284,
  301721,
  153301,
  189818,
  419701,
  130113,
  369158,
  151061,
  390689,
  466109,
  119736,
  8523,
  186702,
  123548,
  284463,
  370390,
  403591,
  119736,
  300670,
  127842,
  283916,
  47415,
  113419,
  362348,
  250301,
  362760,
  369158,
  268883,
  75510,
  191640,
  458608,
  271151,
  377380,
  377380,
  242694,
  281717,
  242694,
  399592,
  300823,
  369158,
  218385,
  346436,
  441966,
  390934,
  259822,
  58719,
  117551,
  442837,
  373318,
  166683,
  336861,
  118504,
  286731,
  214415,
  69101,
  174074,
  146100,
  307728,
  175652,
  135004,
  111240,
  290003,
  201671,
  369933,
  351027,
  127939,
  457045,
  208505,
  128569,
  264179,
  76491,
  362807,
  428446,
  358211,
  11663,
  173617,
  398887,
  362059,
  85832,
  61716,
  318333,
  172894,
  229094,
  448453,
  69533,
  172894,
  215596,
  390984,
  256513,
  150877,
  134191,
  376934,
  212006,
  377286,
  379493,
  446815,
  81252,
  448220,
  231482,
  357111,
  36378,
  416187,
  109356,
  413686,
  409655,
  318333,
  220066,
  139814,
  74833,
  222208,
  152380,
  244458,
  335913,
  164276,
  119736,
  294337,
  52367,
  49156,
  226300,
  33245,
  71233,
  434282,
  89212,
  150882,
  257040,
  307306,
  122561,
  393419,
  137454,
  176995,
  184391,
  174185,
  381265,
  267010,
  205582,
  344071,
  356626,
  441734,
  67486,
  449391,
  59508,
  442131,
  336359,
  318333,
  107792],
 [193623,
  448494,
  355994,
  71733,
  424421,
  379520,
  260256,
  357585,
  335331,
  260256,
  336393,
  412096,
  127415,
  2270,
  196177,
  147555,
  126929,
  456056,
  288525,
  331079,
  460188,
  119736,
  44646,
  246130,
  150882,
  254290,
  138788,
  245577,
  5043,
  155050,
  288418,
  312023,
  325256,
  188455,
  337327,
  96001,
  414995,
  324833,
  120763,
  268883,
  357583,
  419470,
  163689,
  133907,
  98807,
  27812,
  289633,
  119736,
  76403,
  197083,
  349537,
  275361,
  16417,
  177522,
  139346,
  69519,
  10384,
  446590,
  90835,
  158460,
  313072,
  407078,
  356998,
  156466,
  122219,
  172894,
  456056,
  130113],
 [260957, 260957],
 [42260],
 [281211],
 [430292],
 [448601, 384466],
 [427749, 52212, 255908, 137932, 425458, 133472, 453427, 426220, 220355],
 [104801],
 [375181],
 [361554, 361554],
 [303517],
 [458637],
 [275559],
 [213695, 315140, 315140, 315140, 330175, 330175, 330175, 150547],
 [303960,
  161354,
  281212,
  305675,
  305675,
  305675,
  305675,
  322810,
  306396,
  312728,
  346067,
  346067,
  455183,
  253615,
  346384,
  394518,
  240708,
  240708,
  352230,
  176106,
  122219,
  99907,
  446820,
  312728,
  338427,
  238766],
 [335630],
 [127926, 127926],
 [428015],
 [32147],
 [19269, 261886, 261886, 19269],
 [427499],
 [310206],
 [10572],
 [161166],
 [346139],
 [55731, 34709, 34709, 381031, 255093, 206218],
 [387373, 463280],
 [384895],
 [181576],
 [259114],
 [7943],
 [461180],
 [63489],
 [99610],
 [96940],
 [381613],
 [442837],
 [329522],
 [164885],
 [384399],
 [385201],
 [315543],
 [1684],
 [19883],
 [288418],
 [379092],
 [243470],
 [189444],
 [190260],
 [78822, 251415],
 [115530],
 [102573],
 [821],
 [431447],
 [317435],
 [181202],
 [231565],
 [217218, 8641, 32227, 331159],
 [339808],
 [312728,
  353436,
  312728,
  156552,
  179290,
  182157,
  31058,
  389200,
  152262,
  98425,
  331644,
  454183,
  312728],
 [448494],
 [199348],
 [118024, 305742, 113641, 275344],
 [281480, 271268, 102408, 358731, 445813, 102408, 283037],
 [43485, 43485],
 [189764],
 [243980],
 [248614, 248614],
 [120098, 34269, 85771, 451501, 7574, 433543, 79801, 291964],
 [127722,
  62800,
  8641,
  185211,
  273747,
  406121,
  403477,
  73377,
  38437,
  8641,
  340327],
 [52539, 206218, 156767],
 [306328, 249161, 194643],
 [157438, 193554, 428040],
 [8724],
 [219821, 329443],
 [6364,
  331159,
  150889,
  273555,
  406071,
  160272,
  276282,
  100188,
  77844,
  255908,
  388800,
  259710,
  99003,
  252400,
  58123,
  150889],
 [316753, 316753],
 [7943],
 [336359],
 [151471],
 [383396],
 [158575],
 [114121,
  382649,
  44001,
  41422,
  143643,
  379390,
  293038,
  277139,
  143418,
  279618,
  324462,
  432925,
  206925,
  421884,
  37254,
  31644,
  386635,
  49196,
  318333,
  175662,
  156522,
  321005,
  354484,
  440677,
  294267,
  361777,
  257412,
  386476,
  243171,
  120098,
  271823,
  374092,
  4538,
  207815,
  424515,
  301721,
  369158,
  444593,
  260546,
  369093,
  108618,
  281103,
  28212,
  452361,
  65580,
  99907,
  132418,
  260256,
  212743,
  15564,
  193507,
  223739,
  291767,
  139515,
  376793,
  198209,
  231819,
  309778,
  121540,
  14932,
  120446,
  360790,
  173253,
  266825,
  395823,
  405649,
  180009,
  344071,
  287467,
  217387,
  380484,
  16200,
  339917,
  43526,
  460553,
  52039,
  331725,
  250908,
  189926,
  441620,
  411886,
  257767,
  145197,
  101747,
  79097,
  284045,
  457906,
  224614,
  243376,
  185305,
  177636,
  179033],
 [164035],
 [321984, 48115],
 [151320],
 [234255],
 [427499, 349537, 216786],
 [417008, 8611],
 [134309],
 [46156],
 [451207, 421207, 204494, 138434],
 [23762],
 [210009, 111530, 210009, 111530, 111530, 210009],
 [130231],
 [319855],
 [309438, 402462, 23626],
 [460553],
 [443030],
 [365832, 98893],
 [21886],
 [267010],
 [456056, 156896],
 [322666],
 [250618],
 [167501, 25688],
 [217840],
 [221317],
 [361038,
  23762,
  44845,
  378223,
  382499,
  21198,
  205139,
  181227,
  445105,
  27537,
  222294,
  73759,
  117075,
  50443,
  105601,
  286731,
  263606,
  207546],
 [360258],
 [368283],
 [20740],
 [107367],
 [427499],
 [40582],
 [240822],
 [171814],
 [199975],
 [358598, 207993, 346655, 204808],
 [451806],
 [445728],
 [448119],
 [432478],
 [299915],
 [296968],
 [367790, 362851],
 [134255],
 [428554, 181527, 61273, 315937, 273878, 352441, 64951],
 [73051],
 [457410],
 [123079],
 [180751, 180751],
 [335331, 323347, 187379],
 [26154],
 [255708],
 [100393],
 [431918],
 [55133],
 [463280],
 [444190],
 [436938],
 [366421],
 [179290],
 [37068],
 [54008, 199989, 215178, 192468],
 [322078],
 [324670],
 [266085],
 [168166],
 [326173],
 [327083],
 [384212,
  19278,
  257200,
  56762,
  395952,
  290819,
  76121,
  76121,
  76121,
  115213,
  395952,
  395952,
  56762,
  414171,
  335536,
  170262,
  163890,
  466443],
 [415653],
 [410143],
 [60980],
 [440954, 440954],
 [425468, 368025],
 [374554, 374554],
 [428257],
 [272563],
 [362606],
 [266476, 165589],
 [89775],
 [166703],
 [441653],
 [465951],
 [184086],
 [260609],
 [241274],
 [433441],
 [38932],
 [204494,
  211561,
  193205,
  390379,
  446852,
  108452,
  272318,
  342084,
  215868,
  4001,
  259467,
  225877,
  58233,
  160272,
  456874,
  331552,
  322957,
  260256,
  283115,
  232413,
  307981,
  119736,
  297292,
  372206,
  403969,
  97132,
  87069,
  398907,
  119736,
  191640,
  211718,
  419468,
  398489,
  258901,
  93608,
  236949,
  413093,
  389814,
  29725,
  234384,
  259405,
  15822,
  390689,
  179601,
  301925,
  377133,
  119736],
 [192288, 232172],
 [465943],
 [111572],
 [273958],
 [310702],
 [372188,
  433169,
  443188,
  302242,
  249207,
  261568,
  236578,
  460553,
  244458,
  399069,
  72299,
  394679,
  53207,
  409746,
  377232,
  51556,
  119736,
  394678,
  383828,
  187913,
  161354,
  247307,
  206241,
  384744,
  318610,
  73840,
  257251,
  33912,
  383396,
  154977,
  352541,
  411373,
  348245,
  387339,
  420960,
  100944,
  119736,
  171814],
 [76447],
 [179494, 247307],
 [179290, 15380, 52776],
 [245449, 203964],
 [461686],
 [170262],
 [420960],
 [334477],
 [80858],
 [406543],
 [187719, 247842, 397602, 234603],
 [291217],
 [173956],
 [269085],
 [36868,
  138196,
  338395,
  341009,
  62275,
  386480,
  178554,
  62275,
  267416,
  459583,
  178554,
  428257,
  429769,
  41979,
  370213,
  395497,
  96935,
  456792,
  455641,
  358906,
  151178,
  205111,
  358895,
  17478,
  141908,
  292444,
  95426,
  392945,
  342777,
  150215,
  462742,
  204209,
  87915,
  184628,
  128569,
  178274,
  69619,
  69127,
  452986,
  257645,
  192948,
  428257,
  12984,
  73593],
 [384453, 385755],
 [49754],
 [242521, 242521],
 [444763,
  418746,
  144507,
  307247,
  408203,
  425601,
  50133,
  66548,
  337395,
  66587,
  140861,
  103952,
  441814,
  148090,
  314397],
 [143621],
 [401682],
 [430240],
 [127969],
 [256721],
 [43090, 214113, 69442],
 [80858],
 [146735, 20740],
 [90897, 96375, 72422],
 [19750],
 [290509],
 [152236],
 [379953, 198209, 211883, 198209],
 [449023],
 [109616, 357788, 82232, 253549],
 [393144, 445559],
 [374825],
 [81705],
 [12609, 12609],
 [162556],
 [152249],
 [427952],
 [197394],
 [370745],
 [359344, 443344, 23250, 4001],
 [216305],
 [448481, 448481],
 [245409],
 [239968],
 [38965, 215051, 252319],
 [373360],
 [449489],
 [151855],
 [171143],
 [97750],
 [76499],
 [36904],
 [179601],
 [162474],
 [1891],
 [253156, 232172, 457843],
 [89044],
 [216266, 165773],
 [188148],
 [358391],
 [207749],
 [453646, 390988],
 [58863],
 [208270],
 [309005],
 [76426],
 [276155],
 [248566],
 [168952],
 [46644],
 [187913],
 [107352],
 [185896],
 [12885],
 [390591],
 [409804],
 [411886],
 [143643],
 [113952],
 [404369],
 [461891],
 [437293, 231482],
 [334094],
 [242245],
 [138290],
 [144507],
 [161354],
 [430042],
 [17478],
 [146364],
 [97890],
 [326234],
 [390799],
 [361976],
 [413921],
 [76196],
 [177179],
 [417927],
 [76533],
 [402462, 312728],
 [390984, 370295],
 [121086],
 [152433],
 [313391],
 [333089],
 [309778],
 [142671, 142671],
 [52888],
 [413990],
 [357474, 389158, 337358, 80711, 332610],
 [168386],
 [321577, 390152],
 [6731, 425746, 394256, 208880],
 [184716,
  372188,
  216271,
  460553,
  247376,
  262297,
  224614,
  224464,
  260194,
  111530,
  336760,
  420960,
  236814,
  439194,
  244838,
  432992,
  288418,
  236814,
  36864],
 [41803],
 [285758, 285758],
 [349140, 400397, 159822],
 [458919, 282064, 107519],
 [204777],
 [31514],
 [105812],
 [26102, 135864],
 [302563],
 [318333, 318333],
 [350734],
 [1171, 420238, 64026, 412906],
 [181483],
 [50259],
 [117075],
 [112277],
 [426122, 292966],
 [92466],
 [226828],
 [351124, 397642, 93556, 351124, 57548],
 [208939],
 [38965, 38965],
 [3563],
 [343861],
 [399374, 454818],
 [7943],
 [446522],
 [367627],
 [271151],
 [461455],
 [461686, 32581],
 [297404, 297404],
 [193518],
 [252340],
 [425009, 139085],
 [30024],
 [374092],
 [6633],
 [370019],
 [164344],
 [286731, 2142],
 [80435],
 [417927],
 [78890],
 [153935],
 [460553],
 [265966],
 [317938],
 [106359, 299908],
 [40618, 381603],
 [417464],
 [274798, 288077],
 [165337],
 [15822, 15822, 15822],
 [30336, 245474, 31239],
 [187132, 41169],
 [92678],
 [312728],
 [263980, 63092],
 [194010],
 [128519],
 [278319, 287504],
 [395497],
 [249434],
 [133052],
 [256432],
 [397692],
 [84337],
 [175246],
 [30048],
 [345576],
 [228392],
 [121377],
 [334477],
 [9877],
 [80858],
 [176162],
 [448494],
 [268883],
 [33139],
 [292192, 292192],
 [95729, 229588, 95729],
 [57946, 280065],
 [430550],
 [418606],
 [309778],
 [88425],
 [185117],
 [336842],
 [46458],
 [316472],
 [58638],
 [112112, 72747, 312728, 166327, 51483, 445060, 417912, 282651, 345694, 67336],
 [257115],
 [315911],
 [226828],
 [205541],
 [427931, 427931],
 [187359, 423511, 397642],
 [60980],
 [80858],
 [226828],
 [392474, 130113, 38706],
 [388624,
  448413,
  175356,
  206930,
  375532,
  381352,
  331311,
  347576,
  446934,
  372318,
  456005,
  124193,
  246113,
  466526,
  126332,
  163990,
  119736],
 [272259],
 [257040],
 [398756, 259395],
 [91970, 441617],
 [312717],
 [296448, 101876],
 [158912],
 [394217],
 [286940],
 [358041],
 [210846],
 [257040],
 [334936, 217089, 456549, 315387],
 [127879],
 [210002],
 [249933],
 [160975],
 [51483],
 [340022, 271268, 305356],
 [461765],
 [177536],
 [104699, 300906],
 [266553, 386518],
 [384397],
 [62613],
 [366888],
 [328901],
 [51408],
 [176824],
 [390992],
 [119737, 80858],
 [234255],
 [215904],
 [291394],
 [50133],
 [9877],
 [415884, 415884],
 [122604],
 [290465],
 [420960],
 [37254],
 [296375],
 [175485],
 [462461],
 [247698, 178498, 62800, 348668, 316010, 127722, 127722],
 [222166],
 [283916],
 [235274],
 [21163, 427641],
 [343033],
 [234177, 230918],
 [355994, 439424, 92361, 251534, 65838, 417070],
 [13043],
 [251868],
 [119737],
 [139740],
 [393028],
 [318333],
 [294438],
 [165095],
 [9646],
 [300086],
 [309778],
 [420079],
 [233695],
 [417927],
 [222604, 312781, 353910, 230842],
 [243566],
 [206141],
 [161153, 211451],
 [138309],
 [191106, 234255, 308144, 59467, 301462, 330506],
 [373725],
 [407403, 231810, 365375],
 [325310],
 [420079, 420079],
 [299222],
 [305250],
 [324290],
 [105371, 279815],
 [344388],
 [309778],
 [124583],
 [334342, 413896],
 [222285, 344723, 344723, 122604],
 [12217, 170262],
 [278679],
 [144675],
 [283916],
 [407078],
 [99093],
 [429595, 35403, 76744],
 [124272],
 [144507],
 [390199, 421884, 339411, 205768, 89001, 90230, 418301, 137440],
 [2785, 92493],
 [127969],
 [393768],
 [93831, 444848],
 [421063],
 [116252, 204860],
 [25744],
 [223203],
 [436694],
 [232172],
 [118408],
 [417059],
 [169583],
 [391688],
 [352723],
 [421063],
 [424421],
 [391484],
 [48030],
 [345095, 66737],
 [309778],
 [444487],
 [369112],
 [395435],
 [105864, 172894],
 [222604],
 [387220],
 [74750, 117730],
 [62043],
 [130451],
 [186765, 318297],
 [464954,
  115805,
  50443,
  437128,
  278549,
  190293,
  452802,
  108322,
  369158,
  399550,
  244571,
  241807,
  109663,
  46156,
  171814,
  405714,
  72715,
  358845,
  227318,
  236512,
  360033,
  376151,
  359273,
  57247,
  440212,
  389814,
  345373,
  74296,
  234494,
  380810,
  77733,
  369194,
  248127,
  101128,
  113233,
  400988,
  119736,
  83569,
  203090,
  7943,
  242981,
  166306,
  382885,
  125016,
  167543,
  385355,
  12217],
 [427107],
 [465276],
 [136860],
 [369924],
 [361106, 410001],
 [78144],
 [68048],
 [379739, 358485, 153407],
 [315393],
 [280848],
 [279457],
 [217918, 322551],
 [256473],
 [461710, 17478],
 [233454, 40046, 55727, 360812],
 [35245, 308648, 154955, 12765, 130113],
 [109663],
 [357531],
 [161354],
 [122873],
 [160904, 25, 426398],
 [422671, 422671],
 [367664],
 [222684],
 [4537, 105430],
 [424387],
 [387377],
 [366888],
 [117075],
 [379273],
 [224184, 84310, 183137, 416170],
 [66405, 375955, 79826],
 [433504],
 [64137, 89044],
 [304880],
 [339517],
 [429304],
 [46156],
 [316183],
 [411886],
 [377960],
 [336165],
 [41217],
 [280065],
 [362697],
 [179601],
 [152569],
 [407952],
 [133647],
 [255708],
 [338660],
 [246666],
 [428257],
 [32299],
 [410647],
 [423339,
  289915,
  315685,
  260005,
  148285,
  71733,
  69685,
  148855,
  348099,
  291893,
  271930,
  122604,
  230911,
  257040,
  366238,
  178274,
  405770,
  369158,
  436195,
  222285,
  113440,
  302587,
  346203,
  420960,
  448494,
  247755,
  247240,
  39677,
  270532,
  442131,
  129138,
  249702,
  253286,
  424421,
  150730,
  204209,
  345136,
  85914],
 [307733,
  222772,
  62805,
  252023,
  185082,
  93829,
  259647,
  32500,
  121149,
  278380,
  378834,
  330029,
  109239,
  297145,
  211975,
  192003,
  38083,
  336668,
  38083,
  212171,
  8015,
  297145,
  307733,
  222772],
 [152120,
  200854,
  454818,
  84593,
  460553,
  77769,
  430094,
  432184,
  393978,
  188353,
  149253,
  124193,
  188718],
 [429907],
 [306034],
 [79504, 79504],
 [257200],
 [414995],
 [357531],
 [399374],
 [255708],
 [188836, 42328],

In [26]:
# Write a function that would show items that were bought together (same of different dates) by the same customer
def recommender_bought_bought(item_id, purchased_items):
    
    # Perhaps implement a binary search for that item id in the list of arrays
    # Then put the arrays containing that item id in a new list
    # Then merge all items in that list and get rid of duplicates
    
    recommender_list = []
    for x in purchased_items:
        if item_id in x:
            recommender_list += x
    
    #Then merge recommender list and remove the item id
    recommender_list = list(set(recommender_list) - set([item_id]))
    
    return recommender_list

In [27]:
#So now we can present to the visitor a list of the other items a customer previously bought along with 
#what item the current visitor is viewing e.g. item number 302422


recommender_bought_bought(302422, purchased_items)

[105792, 200793, 12836, 80582, 380775, 15335, 400969, 25353, 237753, 317178]

In [28]:
#What other insights can we gather from the items that were viewed, added to cart and sold
#total visitors on the website
all_visitors = events_df.visitorid.sort_values().unique()
all_visitors.size

1407580

In [29]:
#Buying Visitors
buying_visitors = events_df[events_df.event == 'transaction'].visitorid.sort_values().unique()
buying_visitors.size

11719

In [37]:
#Viewing Visitors
viewing_visitors_list = list(set(all_visitors) - set(buying_visitors))
viewing_visitors_list

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 1001,
 1002,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 ...]

In [32]:
#Now lets create a function that creates a dataframe with new features: visitorid, number of items viewed, 
#total viewcount, bought something or not
def create_dataframe(visitor_list):
    
    array_for_df = []
    for index in visitor_list:

        #Create that visitor's dataframe once
        v_df = events_df[events_df.visitorid == index]

        temp = []
        #Add the visitor id
        temp.append(index)

        #Add the total number of unique products viewed
        temp.append(v_df[v_df.event == 'view'].itemid.unique().size)

        #Add the total number of views regardless of product type
        temp.append(v_df[v_df.event == 'view'].event.count())

        #Add the total number of purchases
        number_of_items_bought = v_df[v_df.event == 'transaction'].event.count()
        temp.append(number_of_items_bought)

        #Then put either a zero or one if they made a purchase
        if(number_of_items_bought == 0):
            temp.append(0)
        else:
            temp.append(1)

        array_for_df.append(temp)
    
    return pd.DataFrame(array_for_df, columns=['visitorid', 'num_items_viewed', 'view_count', 'bought_count', 'purchased'])

In [33]:
#Let's apply this to buying visitors first
buying_visitors_df=create_dataframe(buying_visitors)

In [88]:
#new Data frame structure
#buying_visitors_df.shape(dimension of the data)
buying_visitors_df.head()

   visitorid  num_items_viewed  view_count  bought_count  purchased
0        172                22          33             2          1
1        186                 1           2             1          1
2        264                 2           3             2          1
3        419                 3           4             1          1
4        539                 1           4             1          1

In [89]:
#randomly shuffling the list using the random.shuffle method
import random
random.shuffle(viewing_visitors_list)

In [40]:
#creating dataframe using previously defined function
viewing_visitors_df = create_dataframe(viewing_visitors_list[0:27820])

In [42]:
#shape of the data
viewing_visitors_df.shape

(27820, 5)

In [57]:
#Now let's combine the two dataframes
#that is buying visitors and viewing visitors
main_df = pd.concat([buying_visitors_df, viewing_visitors_df], ignore_index=True)

In [48]:
#Let's shuffle main_df first
#again shuufling the data using sample method
main_df = main_df.sample(frac=1)

In [64]:
#let's try a simple Logistic Regression model to predict future visitor purchase behaviourÂ¶
X = main_df.drop(['purchased', 'visitorid', 'bought_count'], axis = 'columns')
y = main_df.purchased

In [65]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, train_size = 0.7)

In [66]:
X_train.head()

       num_items_viewed  view_count
6637                 10          11
23730                 1           1
15486                 1           1
35014                 1           2
32992                 1           1

In [67]:
y_train.head()

6637     1
23730    0
15486    0
35014    0
32992    0
Name: purchased, dtype: int64

In [68]:
X

       num_items_viewed  view_count
0                    22          33
1                     1           2
2                     2           3
3                     3           4
4                     1           4
...                 ...         ...
39534                 1           1
39535                 1           1
39536                 1           2
39537                 2           2
39538                 1           1

[39539 rows x 2 columns]

In [69]:
main_df.head()

   visitorid  num_items_viewed  view_count  bought_count  purchased
0        172                22          33             2          1
1        186                 1           2             1          1
2        264                 2           3             2          1
3        419                 3           4             1          1
4        539                 1           4             1          1

In [91]:
#having feature that is customer purchased it or not
y_test

25423    0
7672     1
33858    0
8156     1
5179     1
        ..
32244    0
1302     1
38271    0
4964     1
29786    0
Name: purchased, Length: 11862, dtype: int64

In [70]:
#Making of the classifier
logreg = LogisticRegression()

In [ ]:
logreg.fit(X_train, y_train)

In [72]:
#predicting the data on build model on X-test
y_pred_class = logreg.predict(X_test)

In [73]:
#print the accuracy
print('accuracy = {:7.4f}'.format(metrics.accuracy_score(y_test, y_pred_class)))

accuracy =  0.7926

In [74]:
#So our model's accuracy in predicting buying visitors is around 79.46%